@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling */
body{
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a881af;
}

/* Primevue style changes */
.p-tieredmenu-separator {
    height: 1px;
    background-color: #a881af;
}
.action-button.p-button:not(.p-button-link) {
    border-radius: 8rem;
    background-color: #a881af;
}
.action-button.p-button-secondary.p-button:not(.p-button-link) {
    background-color: #5dbea3;
    color: white;
}
.p-button:not(.p-button-link) {
    transition: background-color .3s;
    font-weight: 600;
    color: white;
}
.p-button.p-button-secondary,
.p-badge-secondary {
    background-color: #5dbea3;
    color: white;
}
a.p-button {
    text-decoration: none;
}
.p-select,
.p-inputtext,
.p-checkbox-box {
    border: rgba(200, 200, 200, .5) solid 1px;
}
.p-inputtext {
    padding: 9px 15px;
}
.p-button-link {
    color: #5dbea3;
}
.p-button.three-dots-btn {
    background-color: transparent;
    color: black;
    width: 20px;
}
.p-button.error-button {
    background-color: #ff0033;
    color: white;
}
.p-autocomplete.w-full input {
    width: 100%;
}

/* User Profile */
.user-avatar img {
    border-radius: 0;
    max-width: 60%;
}
