@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling */
body{
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #a881af;
}

/* Primevue style changes */
.action-button.p-button:not(.p-button-link) {
    border-radius: 8rem;
    background-color: #a881af;
}
.action-button.p-button-secondary.p-button:not(.p-button-link) {
    background-color: #5dbea3;
    color: white;
}
.p-button:not(.p-button-link) {
    transition: background-color .3s;
    font-weight: 600;
    color: white;
}
.p-button.p-button-secondary,
.p-badge-secondary {
    background-color: #5dbea3;
    color: white;
}
a.p-button {
    text-decoration: none;
}
.p-select,
.p-inputtext,
.p-checkbox-box {
    border: rgba(200, 200, 200, .5) solid 1px;
}
.p-inputtext {
    padding: 9px 15px;
}
.p-button-link {
    color: #5dbea3;
}
.p-button.three-dots-btn {
    background-color: transparent;
    color: black;
    width: 20px;
}
.p-autocomplete.w-full input {
    width: 100%;
}

/* Navbar */
.navbar .p-menubar-item-label,
.navbar .p-menubar-item-icon {
    font-weight: bold;
}

/*Home Page */
#hero {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%);
    clip-path: ellipse(150% 87% at 93% 13%);
}
.tools-section .item {
    height:180px;
    padding:2px;
    border-radius:10px;
}

/* Register and Login Pages */

/* Chat page */
.chat-container {
    height: calc(100vh - 130px);
}
.chat-users-list {
    width: 350px;
    max-height: 100%;
}
/*.chat-users-list > .card {
    overflow-y: scroll;
    overflow-x: hidden;
}*/
.chat-search .p-inputtext {
    padding: 6px 10px;
    width: 100%;
}
.chat-messages-container {
    flex: 1;
}

.my-message-container,
.others-message-container {
    border-radius: 10px;
    padding: 10px;
    border: rgba(200, 200, 200, .5) solid 1px;
    margin-bottom: 15px;
    display: inline;
    max-width: 80%;
}
.my-message-container {
    margin-left: auto;
    background-color: rgba(0, 200, 0, .1);
}
.others-message-container {
    background-color: rgba(150, 150, 150, .1);
}
.message-info {
    color: rgba(100, 100, 100, .5);
}
.message-info.seen {
    color: rgba(0, 200, 0, 1);
}
.sending-message-input .pi-send {
    color: #a881af;
    font-weight: bold;
}
.chat-scrolldown-button {
    left: 100%;
    bottom: 5px;
}
